{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1 class="container" style="text-align: center">All Products</h1>

    <div class="container">
	    <div class="row">
			{% for product in products %}
			<!-- {{ forloop.counter }} -->

				<div class="col-md-3" style="margin-bottom: 10px; padding: 0px 5px;">
					<div class="card" style="">
                        <div style="background: #020202 url({{ product.image_url.url}}); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 250px;">
                        </div>
						<div class="card-body">
							<h5 class="card-title">{{ product.name }} - <strong>${{ product.price }}</strong></h5>
							<p class="card-text">{{ product.item_description }}</p>
                            <a href="{% url 'cart'%}" class="btn btn-primary " style="padding: 6px 40px">Buy</a>
							<a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary add-to-cart-link">Add to cart</a>
						</div>
					</div>
				</div>
			
			{% endfor %}
		</div>
    </div>

{# trending section #}

    <section id="trending">
        <div class="container">
            <div class="trending-content">
                <h1>Trending This Week</h1>
                <ul class = 'trending-list'>
                    <li><a href="{% url 'product_list_by_category' 'laptop' %}">Laptop</a></li>
                    <li><a href="{% url 'product_list_by_category' 'desktop' %}">Desktop</a></li>
                    <li><a href="{% url 'product_list_by_category' 'printer' %}">Printer</a></li>
                    <li><a href="{% url 'product_list_by_category' 'accessories' %}">Accessories</a></li>
                </ul>
            </div>
	    <div class="row">
            {% for i in trending %}
				<div class="col-md-3" style="margin-bottom: 10px; padding: 0px 5px;">
					<div class="card" style="">
                        <div style="background: #020202 url({{ i.name.image_url.url}}); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 250px;">
                        </div>
						<div class="card-body">
							<h5 class="card-title">{{ i.name.name }} - <strong>${{ i.name.price }}</strong></h5>
							<p class="card-text">{{ i.name.item_description }}</p>
                            <a href="#" class="btn btn-primary" style="padding: 6px 40px">Buy</a>
							<a href="#" class="btn btn-primary add-to-cart-link">Add to cart</a>
						</div>
					</div>
				</div>
            {% endfor %}
		</div>
    </div>
        </div>
    </section>

{#    recommendation #}
    <section id="recommend">
        <div class="container">
            <h2 class="recommend-heading" style="text-align: center;">You May Like</h2>
           <div class="row">
			{% for i in recommend_item %}
				<div class="col-md-3" style="margin-bottom: 10px; padding: 0px 5px;">
					<div class="card" style="">
                        <div style="background: #020202 url({{ i.recommend_product.image_url.url}}); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 250px;">
                        </div>
						<div class="card-body">
							<h5 class="card-title">{{ i.recommend_product.name}} - <strong>${{ i.recommend_product.price }}</strong></h5>
							<p class="card-text">{{ i.recommend_product.item_description }}</p>
                            <a href="#" class="btn btn-primary" style="padding: 6px 40px">Buy</a>
							<a href="{% url 'add_to_cart' i.recommend_product.id%}" class="btn btn-primary add-to-cart-link">Add to cart</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
        </div>
    </section>

{% endblock %}